<h2>{{.Title}}</h2>
<form method="POST">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" value={{.Username}}>
    </div>
    <br>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" value={{.Email}}>
    </div>
    <br>
    <div class="form-group">
        <label>Role</label>
        {{range .Roles}}
        <div class="form-check">
            <label class="form-check-label" for="role{{.}}">
            <input class="form-check-input" type="radio" name="roles" id="role{{.}}" value="{{.}}" {{if eq . $.Role}}checked{{end}}>
                {{.}}
            </label>
        </div>
        {{end}}
    </div>
    <br>
    <div class="form-group">
        <label for="new_password">Password</label>
        <input class="form-control" id="new_password" name="new_password" placeholder="**********" type="password"
            value="">
    </div>
    <br>
    <div>
        <button type="submit" class="btn btn-primary">Edit</button>
    </div>
</form>