{{template "views/partials/nav" .}}

  <div class="container-fluid">
<!--    currently this workaround saves from too wide window -->
    <div class="row flex-nowrap w-75">
        <div class="content">

            <h1>{{.Title}}</h1>

            {{range .Items}}
            <div>{{ . }}</div>
            {{else}}
            <div><strong>no rows</strong></div>
            {{end}}

            <br>
            <div>{{.MoreItems.Name}} {{.MoreItems.Quantity}}</div>

        </div>
    </div>
</div>

{{template "views/partials/footer" .}}
